:root {
    --main-bg-color: white;
    --footer-bg-color-rgba: tan;
    --main-text-color: black;
    --background-odd: rgba(0, 0, 0, 1);
    --background-even: rgba(18, 15, 241, 0.7);
    --form-border: rgba(165, 118, 251, 0.6)
}

* {
    margin: 0;
    padding: .3%;
    font-family: "Arial", serif;
}

section, h2, h3 {
    padding: 1%;
}

/** Grids */
body {
    background-color: var(--main-bg-color);
    width: 85%;
    margin: 1% auto;
    display: grid;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "foot foot foot";
}

.digitalGrid {
    background-color: var(--main-bg-color);;
    width: 140%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "card1 card2"
        "flyer jess";
}

.photographyGrid {
    background-color: var(--main-bg-color);;
    width: 140%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "circle mountains rainbow stars";
}

.aboutBox {
    background-color: var(--main-bg-color);;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "h1 h1"
        "paragraph photo";
}

.footer {
    width: 100%;
    margin: auto;
    display: grid;
    padding: 2%;
    grid-template-areas:
        "navigate navigate map"
        "navColumn1 navColumn2 sitemap";
}

/* navigation */
nav a:link {
    background-color: white;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(96, 94, 244);
}

nav a {
    display: inline-block;
    padding: 1%;
    width: 11%
}

nav {
    background-color: tan;
    border-color: black;
    text-align: right;
    grid-area: nav;
}

/* grid-areas */
header {
    grid-area: header;
    padding: 1%
}

#jess {
    grid-area: jess;
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#flyer {
    grid-area: flyer;
}

#circle {
    grid-area: circle;
}

#mountains {
    grid-area: mountains;
}

#rainbow {
    grid-area: rainbow;
}

#stars {
    grid-area: stars;
}

#profileParagraph {
    grid-area: paragraph;
    padding: 8%;
}

#profilePhoto {
    grid-area: photo;
    padding: 1%;
}

#navigate {
    grid-area: navigate;
}

#navColumn1 {
    grid-area: navColumn1;
}

#navColumn2 {
    grid-area: navColumn2;
    margin-right: 300px;
}

#map {
    grid-area: map;
}

#sitemap {
    grid-area: sitemap;
    margin-right: 100px;
}

main {
    grid-area: main;
    padding: .8%
}

footer {
    grid-area: foot;
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(208, 111, 100);
}

/* form page, questions */
input[type=radio] + label {
    cursor: pointer;
 }
 input[type=radio] {
    appearance: none;
 }
 input[type=radio] + label::before {
    content: "\00a0";
    border-radius: 2em;
    display: inline-block;
    width: 1em;  
    height: 1em; 
    line-height: 1em;
    margin-right: .8em;
    background-color: white;
    border: 0.01em solid rgba(0, 0, 0, 0.77);
 }
 
 input[type=radio]:checked + label::before {
    content: "\2022";
    color: black;
    background: lightblue;
 }
 
 input[type=submit] {
    width: 25%;
    background-color: #6372ea;
    color: black;
    padding: 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
}

label {
    width: 100px;
    display: inline-block;
 }
 
 input[type=text], select {
    box-sizing: border-box;
    width: 20em;
    padding: .5em;
}

 input[type=email] {
     box-sizing: border-box;
     width: 20em;
     padding: .5em;
     border: .1em #aaa;
     color: black;
     border: none;
}

textarea {
    padding: 10px;
    border: solid black 2px;
}

/* form page, styling questions */
#frmOrganizationThoughts {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

#question1 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
    
}

#question2 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

#question3 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

/* images */
figure {
    margin-left: auto;
    margin-right: auto;
    text-align: right; 
    width: 35%;
    padding: 1em;
}

figure img figcaption {
    width: 20%;
    margin: auto;
}

/* canned food image */
figure {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: var(--main-bg-color);
}

/*  */
body {
    width: 99%;
    margin: auto;
}

img {
    max-width: 100%;
    background-color: var(--main-bg-color);
}

/* images */
.rounded {
    border-radius: 1em;
}

.go-left {
    float: left;
    margin-right: 1em;
}

section, h2, p {
    width: 70%;
}

.box-1 {
    width: 90%;
    margin: auto;
}

/* lists */
li {
    color: black;
    border: .1em solid black;
    width: 32%;
    margin-left: 3em;
    padding: .1em;
}

/*  */
figcaption {
    font-style: normal;
    color: var(--main-text-color);
    font-size: small;
}

a:hover {
    background-color: rgb(195, 235, 249);
}

h1 {
    text-transform: uppercase;
}

footer p a {
    font-size: large;
    color: black;
}

footer p {
    font-size: large;
    
    color: black;
}

/* table */
table {
    border: .15em solid var(--main-text-color);
    max-width: 100%;
}

tr th{
    margin: 1em;
    border: .1em double var(--main-text-color);
}

tr td{
    margin: 0.5em;
    border: .1em solid var(--main-text-color);
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightcoral;
}

tr:hover {
    background-color: lightgreen;;
    color: white;
    text-decoration: underline;
}

/*  */
.contact {
    background-color: tan;
}

form {
    width: 70%;
    margin: auto;
}

form p {
    /*! text-indent: 0; */
    padding: 10px;
}

form fieldset {
    border: solid black 2px;
}

form legend {
    text-transform: uppercase;
    font-family: "Arial", serif;
    font-size: 20px;
    font-weight: bold;
}

#btnSubmit{
    float: right;
}

#btnSubmit:hover {
    background-color: #8893e9;
}

.activePage {
    background-color: rgb(108, 187, 220);
}

.box2 p, .box3 p, .box4 p, .box5 p, .photographyBox p, .paintingBox p, .box-2 p {
    width: 130%;
    margin: 10px;
}

.box4 table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.form-it-self {
    width: 100%;
}

.newsletter, .radio, .listbox, .checkbox, .comments, .buttons{
    width: 100%;
}

.buttons {
    border: 0;
}

#newsletter{
    display: none;
    border: solid black 2px;
}

.leftArrow, .rightArrow {
    cursor: pointer;
    position: absolute;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    transition: 0.6s ease;
    background-color: lavender;
}

.leftArrow {
    left: 10%;
    top: 400px
}

.rightArrow {
    right: 10%;
    top: 400px
}

.slideshow {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

/* The Modal (background) */
.slideshow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content */
.images {
    background-color: #fefefe;
    padding: 30px;
    width: 50%;
    margin: auto;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
/* Highlight photos in grid, not modal */
.grid:hover{
      opacity: 0.7;
      cursor: pointer;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.leftArrow:hover, .rightArrow:hover {
      cursor: pointer;
      background-color: green;
}

.vertical {
    width: 72%;
    margin: auto;
}

span {
    margin-right: 20%;
}

#navigate p, #map p {
    color: rgb(225, 176, 111);
}

#txtFirstName, #txtLastName, #txtEmail, #txtSubject, #radioField{
    width: 100%;
    border: solid black 2px;
}

input {
    display: block;
    margin-bottom: 10px;
}

#bold {
    font-weight: bold;
}

.photographyBox p {
    width: 180%;
}

.button {
    background-color: rgba(122, 83, 250, 0.36);
    border-color: solid black 2px;
    border-radius: 0;
    font-family: "Courier New";
}

.button:hover {
    cursor: pointer;
    background-color: rgb(151, 118, 241);
}