:root {
    --main-bg-color: white;
    --footer-bg-color-rgba: tan;
    --main-text-color: black;
    --background-odd: rgba(0, 0, 0, 1);
    --background-even: rgba(18, 15, 241, 0.7);
    --form-border: rgba(165, 118, 251, 0.6)
}

/*  */
* {
    margin: 0;
    padding: .3%;
    font-family: "Arial", serif;
}

section, h2, h3 {
    padding: 1%;
}
/*  */

body {
    background-color: var(--main-bg-color);
    width: 85%;
    margin: 1% auto;
    display: grid;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "foot foot foot";
}

.go-right {
    background-color: var(--main-bg-color);;
    width: 140%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "card1 card2"
        "flyer jess";
}


/* navigation */
nav a:link {
    background-color: white;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(247, 160, 11);
}

nav a {
    display: inline-block;
    padding: 1%;
    width: 12%
}

nav {
    background-color: lavender;
    border-color: black;
    text-align: right;
    grid-area: nav;
}

/* grid-areas */
header {
    grid-area: header;
    padding: 1%
}

#jess {
    grid-area: jess;
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#flyer {
    grid-area: flyer;
}

main {
    grid-area: main;
    padding: .8%
}

footer {
    grid-area: foot;
    display: flex;
    width: auto;
    height: auto;
    background-color: tan;
}

/* form page, questions */
label {
    display: block;
}

.radio label , .checkbox label {
    display: inline;
 }

input[type=checkbox] + label {
    cursor: pointer;
    font-size: 1em;
 }

 input[type=checkbox] {
    appearance: none;
    margin: 0;
    padding: 3%;
 }
 input[type=checkbox] + label::before {
    content: "\00a0";
    display: inline-block;
    width: 1em;  
    height: 1em; 
    line-height: 1em;
    font-size: 0.8em;
    margin-right: .8em;
    background-color: white;
    border: 0.09em solid rgba(0, 0, 0, 0.77);
 }
 
 input[type=checkbox]:checked + label::before {
    content: "\2713";
    color: black;
    background: orange;
 }

input[type=radio] + label {
    cursor: pointer;
 }
 input[type=radio] {
    appearance: none;
    margin: 0;
    padding: 3%;
 }
 input[type=radio] + label::before {
    content: "\00a0";
    border-radius: 1em;
    display: inline-block;
    width: 1em;  
    height: 1em; 
    line-height: 1em;
    font-size: 0.8em;
    margin-right: .8em;
    background-color: white;
    border: 0.09em solid rgba(0, 0, 0, 0.77);
 }
 
 input[type=radio]:checked + label::before {
    content: "\2022";
    color: black;
    background: orange;
 }
 
 input[type=submit] {
    width: 20%;
    background-color: purple;
    color: black;
    padding: 1.2em;
    margin: .5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

label {
    width: 5em;
    display: inline-block;
 }
 
 input[type=text], select {
    box-sizing: border-box;
    width: 20em;
    padding: .5em;
    margin: 1em;
    border: .1em #aaa;
    border-radius: .5em;
}

 input[type=email] {
     box-sizing: border-box;
     width: 20em;
     padding: .5em;
     border: .1em #aaa;
     border-radius: .5em;
     color: black;
     margin: 1em;
     border: none;
}

/* form page, styling questions */
#frmOrganizationThoughts {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

#question1 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
    
}

#question2 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

#question3 {
    background: lavender;
    border: .6em solid var(--form-border);
    border-radius: .3em;
}

/* images */
figure {
    margin-left: auto;
    margin-right: auto;
    text-align: right; 
    width: 35%;
    padding: 1em;
}

figure img figcaption {
    width: 20%;
    margin: auto;
}

/* canned food image */
figure {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: var(--main-bg-color);
}

/*  */
body {
    width: 90%;
    margin: auto;
}

img {
    max-width: 100%;
    background-color: var(--main-bg-color);
}

/* images */
.rounded {
    border-radius: 1em;
}

.go-left {
    float: left;
    margin-right: 1em;
}

section, h2, p {
    width: 70%;
}

.box-1 {
    width: 90%;
    margin: auto;
}

.box1-form {
    width: 70%;
    margin: auto;
    color: var(--main-text-color);
}

/* lists */
li {
    color: black;
    border: .1em solid black;
    width: 32%;
    margin-left: 3em;
    padding: .1em;
}

/*  */
figcaption {
    font-style: normal;
    color: var(--main-text-color);
    font-size: small;
}

a:hover {
    background-color: lightblue;
    }

h1 {
    text-transform: uppercase;
}

footer p a {
    font-size: large;
    
    color: black;
}

footer p {
    font-size: large;
    
    color: black;
}


/* table */
table {
    border: .15em solid var(--main-text-color);
    max-width: 100%;
}

tr th{
    margin: 1em;
    border: .1em double var(--main-text-color);
}

tr td{
    margin: 0.5em;
    border: .1em solid var(--main-text-color);
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightcoral;
}

tr:hover {
    background-color: lightgreen;;
    color: white;
    text-decoration: underline;
}

/*  */
form {
    width: 70%;
    margin: auto;
}

form p {
    text-indent: 0;
}

form fieldset {
    border: solid black 2px;
}

form legend {
    text-transform: uppercase;
    font-weight: 7px;
    font-family: "Arial", serif;
    font-size: 20px;
}

#txtFirstName, #txtLastName, #txtEmail{
    border: solid black 2px;
}

.btnSubmit{
    border: solid green 2px;
}

.activePage {
    text-color: lightsalmon;
}

.activePage {
    background-color: lightblue;
}

.box-2 p {
    width: 100%;
    text-indent: 3em;
}

.form-it-self {
    width: 100%;
}

.contact, .radio, .listbox, .checkbox, .comments{
    margin: 2%
}




/* JavaScript */
#newsletter{
    display: none;
    border: solid black 2px;
}


.slideshow {
    max-width: 2000px;
    position: relative;
    margin: auto;
  }
  
.leftArrow, .rightArrow {
    cursor: pointer;
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    color: black;
    transition: 0.6s ease;
    background-color: lavender;
  }

.leftArrow {
    left: 230px;
    top: 400px
  }

.rightArrow {
    right: 230px;
    top: 400px
  }

  .leftArrow:hover, .rightArrow:hover {
    background-color: rgb(177, 177, 245);
  }

  /* The Modal (background) */
.slideshow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .images {
    background-color: #fefefe;
    padding: 50px;
    width: 50%;
    margin: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
/* Highlight photos in grid, not modal */
  .cafe1:hover, .cafe2:hover, .jess1:hover, .flyer1:hover{
      opacity: 0.7;
      cursor: pointer;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .leftArrow:hover, .rightArrow:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.2);
  }